{% extends "core/page/base.html" %}
{% load static %}
{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'perfil/css/account.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock extra_head %}
{% block title %}Redefinição de senha completa{% endblock title %}

{% block content %}
    <main id="main-content" class="container cadastro-ativo">
        <section class="form-section">
            <div class="form-wrapper">
                <section class="form-card cadastro-form active" aria-labelledby="cadastro-title">
                    <h1 id="cadastro-title">Redefinição de senha completa</h1>
                    <p>Sua senha foi definida. Você pode prosseguir e se autenticar agora.</p>
                    <a href="{% url 'signin' %}" class="btn-signup">
                        <span class="material-symbols-rounded">login</span>
                        Fazer login
                    </a>
                </section>
            </div>
        </section>
    </main>
{% endblock content %}

