{% extends "core/page/base_auth.html" %}
{% load static %}
{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'perfil/css/account.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock extra_head %}
{% block title %}Alterar senha{% endblock title %}

{% block content %}
    <main id="main-content" class="container cadastro-ativo">
            
    <section class="form-section">
        <div class="form-wrapper">
            
            <section class="form-card cadastro-form active" aria-labelledby="cadastro-title">
                <h1 id="cadastro-title">Alterar senha</h1>
                <p>Por favor insira sua antiga senha, por medida de segurança, e então digite sua nova senha duas vezes para que possamos verificar se estão identicas.</p>

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn-signup">
                      Alterar senha
                    </button>
                </form>
         </div>
    </section>
  </main>
{% endblock content %}
