{% extends "global/page/base.html" %}
{% load static %}
{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'perfil/css/account.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock extra_head %}
{% block title %}Recuperar senha{% endblock title %}

{% block content %}
    <main id="main-content" class="container cadastro-ativo">
        <section class="image-section">
            <div class="logo-overlay">
                <a href="index.html" aria-label="Ir para página inicial">
                    <img src= "{% static 'global/img/logo/marca_verde.png' %}" alt="Simbora" class="logo-simbora" />
                </a>
                
            </div>
            <div class="overlay-gradient"></div>
            <img src= "{% static 'perfil/img/bg-acesso-amigos-grupo.jpg' %}" alt="Amigos se divertindo" class="bg-image" />
            <div class="hero-text">
                <h2>Descubra. Conecte-se. Celebre.</h2>
                <p>Sua próxima grande aventura está a apenas um toque. Venha Simbora: encontre a companhia ideal para seus planos e comece a criar memórias inesquecíveis.
                </p>
            </div>
        </section>
        
        
   <section class="form-section">
      <div class="form-wrapper">

        <section class="form-card cadastro-form active" aria-labelledby="cadastro-title">
          <h1 id="cadastro-title">Redefinir senha</h1>
          <p>Digite seu e-mail abaixo e nós te enviaremos instruções para definir uma nova senha.</p>
          <form method="post">
            {% csrf_token %}
            <div class="input-container">
              <label for="id_email_cadastro">E-mail</label>
              <div class="input-group">
                <span class="material-symbols-rounded icon" aria-hidden="true">mail</span>
                {{ form.email }}
                <span class="material-symbols-rounded icon-check" aria-hidden="true">check_circle</span>
                <span class="material-symbols-rounded icon-error" aria-hidden="true">error</span>
              </div>
              <span id="erro-email-cadastro" class="error-message" role="alert"></span>
            </div>
            <button type="submit" class="btn-primary">Redefinir</button>
          </form>

         </div>
    </section>
  </main>
{% endblock content %}





