{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Simbora | {% block title %}{% endblock title %}</title>
    
    {% include "global/partials/font_links.html" %}
    
    <link rel="stylesheet" href="{% static 'global/css/style.css' %}">

    {% block extra_head %}
    {% endblock extra_head %}

</head>
<body>
    
    {% block content %}
    {% endblock content %}

    {% block extra_js %}
    
        <script src="{% static 'global/js/validation.js' %}"></script>
    {% endblock extra_js %}

</body>
</html>