{% extends "core/page/base_core.html" %}

{% block title %}{{ evento.nome_evento }}{% endblock title %}

{% block content %}
    
    <h1>{{ evento.nome_evento }}</h1>
    <p><strong>Descrição:</strong> {{ evento.descricao }}</p>
    <p><strong>Data início:</strong> {{ evento.data_inicio|date:"d/m/Y H:i" }}</p>
    <p><strong>Data término:</strong> {{ evento.data_termino|date:"d/m/Y H:i" }}</p>
    <p><a href="{% url 'eventos:lista_eventos' %}">Voltar para lista</a></p>

{% endblock content %}


