{% load static %}
<header class="hero-header">
      <div class="header-container">
          <a href="index.html" class="logo-link" aria-label="Página Inicial do Simbora">
              <img src="{% static 'global/img/logo/marca_verde.png'%}" alt="Simbora" class="logo-img-header">
          </a>

          <nav class="nav-menu">
              <a href="central.html" class="nav-link">Central front-end</a>
              <a href="#" class="nav-link">Categorias</a>
              <a href="quem-somos.html" class="nav-link">Quem somos</a>
              <a href="#" class="nav-link">Contato</a>
              <div class="auth-buttons">
                  <a href= "{% url 'signin' %}" class="btn-login">
                      <span class="material-symbols-rounded">login</span>
                      Entrar
                  </a>
                  <a href="{% url 'signup' %}" class="btn-signup">
                      <span class="material-symbols-rounded">person_add</span>
                      Criar conta  
                  </a>
              </div>
          </nav>
          
          <button class="menu-toggle" aria-label="Abrir menu">
              <span class="material-symbols-rounded">menu</span>
          </button>

        </div>
</header>