{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simbora | {% block title %}{% endblock title %}</title>

    {% include "core/partials/font_links.html" %}

    {% block extra_head %}
        <link rel="stylesheet" href="{% static 'core/css/main_header.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    {% endblock extra_head %}
    

</head>
<body>
    {% include "core/partials/header_auth.html" %}

    {% block content %}
    {% endblock content %}

    {% block extra_js %}
        <script src="{% static 'core/js/principal.js' %}"></script>
    {% endblock extra_js %}

    {% include "core/partials/footer.html" %}
</body>
</html>
