{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simbora | {% block title %}{% endblock title %}</title>

    {% include "core/partials/font_links.html" %}

    {% block extra_head %}
        <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
        {% block header_css %}
            {% if user.is_authenticated %}
                <link rel="stylesheet" href="{% static 'core/css/main_header.css' %}">
            {% else %}
                <link rel="stylesheet" href="{% static 'core/css/principal.css' %}">
            {% endif %}
        {% endblock header_css %}
    {% endblock extra_head %}
    

</head>
<body>
    {% block header_include %}
        {% if user.is_authenticated %}
            {% include "core/partials/header_auth.html" %}
        {% else %}
            {% include "core/partials/header.html" %}
        {% endif %}
    {% endblock header_include %}

    {% block content %}
    {% endblock content %}

    {% block extra_js %}
        <script src="{% static 'core/js/principal.js' %}"></script>
    {% endblock extra_js %}

    {% include "core/partials/footer.html" %}
</body>
</html>
