<form method="post" action="{% url 'account' %}">
    {% csrf_token %}
    <input type="hidden" name="action" value="cadastro">
    <div class="row-inputs">
        <div class="input-container">
            <label for="id_nome">Nome</label>
            <div class="input-group">
                <span class="material-symbols-rounded icon" aria-hidden="true">person</span>
                {{ cadastro_form.first_name }}
                <span class="material-symbols-rounded icon-check" aria-hidden="true">check_circle</span>
                <span class="material-symbols-rounded icon-error" aria-hidden="true">error</span>
            </div>
            <span id="erro-nome" class="error-message" role="alert">
                {% for error in cadastro_form.first_name.errors %}
                    {{ error }}
                {% endfor %}
            </span>
        </div>
        
        <div class="input-container">
            <label for="Sobrenome">Sobrenome</label>
            <div class="input-group">
                <span class="material-symbols-rounded icon" aria-hidden="true">person</span>
                {{ cadastro_form.last_name }}
                <span class="material-symbols-rounded icon-check" aria-hidden="true">check_circle</span>
                <span class="material-symbols-rounded icon-error" aria-hidden="true">error</span>
            </div>
            <span id="erro-sobrenome" class="error-message" role="alert">
                {% for error in cadastro_form.last_name.errors %}
                    {{ error }}
                {% endfor %}
            </span>
        </div>
    </div>
    
    <div class="input-container">
        <label for="{{ cadastro_form.email.id_for_label }}">E-mail</label>
        <div class="input-group">
            <span class="material-symbols-rounded icon" aria-hidden="true">mail</span>
            {{ cadastro_form.email }}
            <span class="material-symbols-rounded icon-check" aria-hidden="true">check_circle</span>
            <span class="material-symbols-rounded icon-error" aria-hidden="true">error</span>
        </div>
        <span id="erro-email-cadastro" class="error-message" role="alert">
            {% for error in cadastro_form.email.errors %}
                {{ error }}
            {% endfor %}
        </span>
    </div>
    
    <div class="row-inputs">
        <div class="input-container">
            <label for="{{ form.data_nascimento.id_for_label }}">Data de Nascimento</label>
            <div class="input-group">
                <span class="material-symbols-rounded icon" aria-hidden="true">cake</span>
                {{ cadastro_form.data_nascimento }}
                <span class="material-symbols-rounded icon-check" aria-hidden="true">check_circle</span>
                <span class="material-symbols-rounded icon-error" aria-hidden="true">error</span>
            </div>
            <span id="erro-data-nascimento" class="error-message" role="alert">
                {% for error in cadastro_form.data_nascimento.errors %}
                    {{ error }}
                {% endfor %}
            </span>
        </div>
        
        <div class="input-container">
            <label for="{{ cadastro_form.genero.id_for_label }}">Gênero</label>
            <div class="input-group">
                <span class="material-symbols-rounded icon" aria-hidden="true">person</span>
                {{ cadastro_form.genero }}
                <span class="material-symbols-rounded icon-check" aria-hidden="true">check_circle</span>
                <span class="material-symbols-rounded icon-error" aria-hidden="true">error</span>
            </div>
            <span id="erro-genero" class="error-message" role="alert">
                {% for error in cadastro_form.genero.errors %}
                    {{ error }}
                {% endfor %}
            </span>
        </div>
    </div>

    <div class="row-inputs">
        <div class="input-container">
            <label for="id_senha">Senha</label>
            <div class="input-group">
                <span class="material-symbols-rounded icon" aria-hidden="true">lock</span>
                {{ cadastro_form.password1 }}
                <span class="material-symbols-rounded icon-check" aria-hidden="true">check_circle</span>
                <span class="material-symbols-rounded icon-error" aria-hidden="true">error</span>
            </div>
            <span id="erro-senha-cadastro" class="error-message" role="alert">
                {% for error in cadastro_form.password1.errors %}
                    {{ error }}
                {% endfor %}
            </span>
            
        </div>
        
        <div class="input-container">
            <label for="id_confirmar_senha">Confirmar Senha</label>
            <div class="input-group">
                <span class="material-symbols-rounded icon" aria-hidden="true">verified_user</span>
                {{ cadastro_form.password2 }}
                <span class="material-symbols-rounded icon-check" aria-hidden="true">check_circle</span>
                <span class="material-symbols-rounded icon-error" aria-hidden="true">error</span>
            </div>
            <span id="erro-confirmar-senha" class="error-message" role="alert">
                {% for error in cadastro_form.password2.errors %}
                    {{ error }}
                {% endfor %}
            </span>
        </div>
    </div>
    
    <div class="checkbox-container">
        <input type="checkbox" id="id_aceitar_politicas" name="aceitar_politicas" required
                aria-describedby="erro-aceitar-politicas" />
        <label for="id_aceitar_politicas" class="checkbox-label">
            Eu concordo com os 
            <a href="#" target="_blank" rel="noopener noreferrer">Termos de Serviço</a> 
            e a 
            <a href="#" target="_blank" rel="noopener noreferrer">Política de Privacidade</a>
        </label>
        <span id="erro-aceitar-politicas" class="error-message" role="alert"></span>
    </div>
    
    <button type="submit" class="btn-primary">CADASTRE-SE</button>
</form>